.Signup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.CreateAuction{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}