.Login, .Signup{
    
  /* background-image: url('../components/images/Frame Logowanie.png'); */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-size: cover;

}
.background-image {
  /* position: fixed;
  z-index: 5; */
  /* background-image: url('../components/images/Frame Logowanie.png'); */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-size: cover;

}
.imgs {
  width: 100%;
  height: 100%;
}
a:visited {
  color: #0B70E3;
  /* text-decoration: none; */
}

.minilogo {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  border: 0.15rem solid #0077FF;
  border-left: none;
  border-top: none;
  padding: 1rem;
  border-bottom-right-radius: 10px;
  max-width: 3vw;
}


.login {
  background-color: white;
  border: #0B70E3 solid;
  min-height: 70vh;
  position: relative;
}

h1 { 
font-size: 3rem;
padding-bottom: 2rem;
padding-left: 1rem;
padding-right: 1rem;
border-bottom: #0B70E3 solid;
color: #0B70E3;
font-weight: 900;
}

.underline {
text-decoration: underline;
}
a {
  text-decoration: none;
}
label {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 550;
  padding-left: 0.3rem;
  /* padding-bottom: 1vh; */
}

.down {
  text-align: left;
  padding-left: 1rem;
}

input[type="text"], input[type="password"]{
  background-color: #edeff2;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px #00000040;
  height: 2rem;
  border: none;
  width: 80%;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

button[type="submit"]{
  position: absolute;
  bottom: 1.5rem;
  right: 1.7rem;
  
  color: #ffffff;
  font-family: "Inter-Black", Helvetica;
  font-size: 1.2rem;
  font-weight: 900;
  height: 3rem;

  letter-spacing: 0;
  border: none;

  text-align: center;

  white-space: nowrap;
  width: 10rem;
  background-color: #0B70E3;
  border-radius: 0.5rem;
}
.company_acc {
  position: absolute;
  bottom: 0.3rem;
  right: 2rem;
  font-size: 0.8rem;
  text-align: center;
}
button[type="submit"]:hover {
  background-color: #024899;
  transition: 0.2s;
}
button[type="submit"]:active {
  box-shadow: 1rem black;
}
.nessesary {
  color: red;
}

#company {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 9rem;
  height: 1.2rem;

  width: 1.2rem;
}

.YesNo {
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.break {
  width: 100%;
  height: 0rem;
  /* background-color: #024899; */
}