.profile{

    width: 100%;
  
}
main{
    width: 100vw;
    display: flex;
}
/* .profile aside{
    width: 40%;
    border: 1px solid black;
}
.profile article{
    width: 60%;
    border:1px solid black;
} */
.profile span{
    background-color: gray;
}